﻿@using System
@using EvilDev.Website
<!DOCTYPE html>
<html lang="en" ng-app="evildev">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Mitchell Lee">

        <title>Blog Post Template for Bootstrap 3</title>

        <link href="@Url.Content("~/Content/Highlight/default.css")" rel="stylesheet" type="text/css" />

        <!-- Bootstrap core CSS -->
        <link href="@Url.Stylesheet("bootstrap")" rel="stylesheet" type="text/css"/>

        <!-- Add custom CSS here -->
        <link href="@Url.Stylesheet("bootstrap-theme")" rel="stylesheet" type="text/css"/>
        
        <link href="@Url.Stylesheet("bootstrap-tagsinput")" rel="stylesheet" type="text/css" />
        
        <link href="@Url.Stylesheet("font-awesome")" rel="stylesheet" type="text/css" />
        
        
        <style type="text/css">
            body {
                margin-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
            }

            footer { margin: 50px 0; }

            .navbar-brand {
                background: url(@Url.Image("EvilDevLogo")) no-repeat top left;
                height: 77px;
                width: 200px;
            }
        </style>
        
        @RenderSection("Styles", false);
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Content("~")"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    @Html.Partial("Shared/_mainnav.cshtml")
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <div class="container">
            <div class="row">
                @RenderBody()
            </div>

            <hr>

            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Mitchell Lee @DateTime.Now.Year</p>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.container -->
        <!-- JavaScript -->
        <script src="@Url.Script("jquery", "2.1.0")"></script>
        <script src="@Url.Script("bootstrap")"></script>
        <script src="@Url.Script("angular/angular")"></script>
        <script src="@Url.Script("showdown")"></script>
        <script src="@Url.Script("highlight")"></script>
        <script src="@Url.Script("angular-highlightjs")"></script>
        <script src="@Url.Script("bootstrap-tagsinput")"></script>
        <script src="@Url.Script("bootstrap-tagsinput-angular")"></script>

        <script type="text/javascript">
            hljs.initHighlightingOnLoad();
            var evildev = angular.module('evildev', ['bootstrap-tagsinput']);

        </script>
        @RenderSection("Scripts", false)
    </body>

</html>