﻿@using EvilDev.Website.Extensions

<ul class="nav navbar-nav">
    <li>
        <a href="@Url.Content("~/blog")">Blog</a>
    </li>
    <li>
        <a href="#services">Services</a>
    </li>
    <li>
        <a href="#contact">Contact</a>
    </li>

    @if (Html.IsAuthenticated())
    {
        <li><a href="@Url.Content("~/logout")">Logout</a></li>
    }
    else
    {
        <li><a href="@Url.Content("~/login")">Login</a></li>
    }
</ul>