﻿@using EvilDev.Website
@using EvilDev.Website.Extensions

<input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" placeholder="Add tags" />

<div ng-controller="BlogController" class="col-lg-8">
    
    @if (Html.IsAuthenticated())
    {
        <button ng-hide="editing" type="button" class="btn btn-default" ng-click="CreateNew()">
            <span class="glyphicon glyphicon-plus"></span> New Post
        </button>
    }

    <article ng-repeat="post in model" ng-hide="editing && !post.editing">
        <header>
            <a href="@Url.Content("~/blog")/{{post.urlCode}}">
                <h1 ng-hide="post.editing">{{post.title}}</h1>
            </a>
            @if (Html.IsAuthenticated())
            {
                <button ng-hide="editing" class="btn btn-default" ng-click="editPost(post)">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                <button ng-hide="editing" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"> Delete</span>
                </button>
            }
            <input type="text" ng-model="post.title" ng-show="post.editing" ng-value="post.title" />

            <p class="lead">by {{post.createdBy}}</p>
            <hr>
            <p>
                <span class="glyphicon glyphicon-time"></span> Posted on {{post.publishDate}}
            </p>
            <hr>
        </header>
        <section class="edit" ng-show="post.editing">
            <textarea style="min-height: 400px; width: 100%;" ng-model="post.content" ng-keydown="captureTab($event)"></textarea>
            <div class="container bottom-right">
                <button class="btn btn-primary" ng-hide="post.isNew" ng-click="save(post)">Save</button>
                <button class="btn btn-primary" ng-show="post.isNew" ng-click="create(post)">Publish</button>
            </div>
        </section>
        <section class="preview" ng-bind-html="Markdown(post.content)"></section>
        
        <bootstrap-tagsinput ng-model="post.tags"
                             itemvalue="value"
                             itemtext="text">
        </bootstrap-tagsinput>
         
        <hr>

        @*<!-- the comment box -->
        <div class="well" ng-hide="editing">
            <h4>Leave a Comment:</h4>
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <hr>

        <!-- the comments -->
        <h3>
            Start Bootstrap
            <small>9:41 PM on August 24, 2013</small>
        </h3>
        <p>This has to be the worst blog post I have ever read. It simply makes no sense. You start off by talking about space or something, then you randomly start babbling about cupcakes, and you end off with random fish names.</p>

        <h3>
            Start Bootstrap
            <small>9:47 PM on August 24, 2013</small>
        </h3>
        <p>Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried foods, wild animals, alien abductions, business casual, robots, and fireworks' has true potential.</p>*@
    </article>
</div>

<div class="col-lg-4">
    <div class="well">
        <h4>Blog Search</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /well -->
    <div class="well">
        <h4>Popular Blog Categories</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li>
                        <a href="#dinosaurs">Dinosaurs</a>
                    </li>
                    <li>
                        <a href="#spaceships">Spaceships</a>
                    </li>
                    <li>
                        <a href="#fried-foods">Fried Foods</a>
                    </li>
                    <li>
                        <a href="#wild-animals">Wild Animals</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li>
                        <a href="#alien-abductions">Alien Abductions</a>
                    </li>
                    <li>
                        <a href="#business-casual">Business Casual</a>
                    </li>
                    <li>
                        <a href="#robots">Robots</a>
                    </li>
                    <li>
                        <a href="#fireworks">Fireworks</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /well -->
    <div class="well">
        <h4>Side Widget Well</h4>
        <p>Bootstrap's default wells work great for side widgets! What is a widget anyways...?</p>
    </div>
    <!-- /well -->
</div>

@section Scripts {
    <script src="@Url.Script("Controllers/BlogController")" type="text/javascript"></script>
}