﻿@using EvilDev.Website.Extensions
@inherits NancyRazorViewBase<System.Guid>

<article ng-controller="PostController">
    <header>
        <input class="Raw-Data" type="hidden" value="@Model" />
        <a href="@Url.Content("~/blog")/{{post.urlCode}}"><h1 ng-hide="post.editing" ng-bind="post.title"></h1></a>
        @if (Html.IsAuthenticated())
        {
            <button ng-hide="editing" class="btn btn-default" ng-click="editPost(post)">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </button>
            <button ng-hide="editing" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"> Delete</span>
            </button>
        }
        <input type="text" ng-model="post.title" ng-show="post.editing" ng-value="post.title" />

        <p class="lead">by {{post.createdBy}}</p>
        <hr>
        <p>
            <span class="glyphicon glyphicon-time"> Posted on {{post.publishDate}}</span>
        </p>
        <hr>
    </header>
    <section class="edit" ng-show="post.editing">
        <textarea style="min-height: 400px; width: 100%;" ng-model="post.content" ng-keydown="captureTab($event)">
        </textarea>
        <div class="container bottom-right">
            <button class="btn btn-primary" ng-hide="post.isNew" ng-click="save(post)">Save</button>
            <button class="btn btn-primary" ng-show="post.isNew" ng-click="create(post)">Publish</button>
        </div>
    </section>
    <section class="preview" ng-bind-html="Markdown(post.content)"></section>

    <hr>

    @*<!-- the comment box -->
        <div class="well" ng-hide="editing">
            <h4>Leave a Comment:</h4>
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <hr>

        <!-- the comments -->
        <h3>
            Start Bootstrap
            <small>9:41 PM on August 24, 2013</small>
        </h3>
        <p>This has to be the worst blog post I have ever read. It simply makes no sense. You start off by talking about space or something, then you randomly start babbling about cupcakes, and you end off with random fish names.</p>

        <h3>
            Start Bootstrap
            <small>9:47 PM on August 24, 2013</small>
        </h3>
        <p>Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried foods, wild animals, alien abductions, business casual, robots, and fireworks' has true potential.</p>*@
</article>