﻿@using EvilDev.Website
<div ng-controller="LoginController" role="form">
    <div class="alert alert-danger" ng-show="hasError" ng-bind="error"></div>

    <h1>Login</h1>

    <div class="form-group">
        <label for="username">Username:</label>
        <input id="username" class="form-control" placeholder="username" type="text" ng-model="username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" class="form-control" type="password" placeholder="password" ng-model="password" />
    </div>

    <button class="btn btn-primary" ng-click="Login()">Login</button>
</div>

@section Scripts {
    <script src="@Url.Script("Controllers/LoginController")" type="text/javascript"></script>
}