﻿@using EvilDev.Website

<div ng-controller="InstallController" role="form">
    <div class="alert alert-danger" ng-show="hasError" ng-bind="error"></div>

    <h1>Install Blog</h1>
    
    <div class="form-group">
        <label for="firstname">First Name:</label>
        <input id="firstname" class="form-control" placeholder="Enter your first name" type="text" ng-model="model.firstName" />
    </div>
    
    <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input id="lastname" class="form-control" placeholder="Enter your last name" type="text" ng-model="model.lastName" />
    </div>

    <div class="form-group">
        <label for="username">Username:</label>
        <input id="username" class="form-control" placeholder="username" type="text" ng-model="model.userName" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" class="form-control" type="password" placeholder="password" ng-model="model.password" />
    </div>

    <button class="btn btn-primary" ng-click="Install(model)">Install</button>
</div>

@section Scripts {
    <script src="@Url.Script("Controllers/InstallController")" type="text/javascript"></script>
}